# build output
dist/

# dependencies
node_modules/
.pnpm-store/**

# generated types
.astro/

# playwright
test-results/
playwright-report/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.production

# macOS
.DS_Store

